@model ATS2019_2.Models.TeamMemberModel
@{
    ViewBag.Title = "CreateTeam";
    Layout = "~/Views/ATS/_LayoutPage.cshtml";
}

@using (Html.BeginForm("CreateTeam", "ATS", FormMethod.Post))
{
    <h1>Create Team</h1>
    <div class="contentform">
        


    <div class="leftcontact">
        <div class="form-group">
            <p>Select Team Lead <span>*</span></p>
            <span class="icon-case"><i class="fas fa-unlock-alt"></i></span>
            @Html.DropDownListFor(m => m.teamlead, new SelectList(ViewBag.Teamleadlist, "text", "Value"), "Select", new { @required = "required" })
            <div class="validation"></div>
        </div>

        <div class="form-group">
            <p>Select Team Member <span>*</span></p>
            <span class="icon-case"><i class="fa fa-male"></i></span>
            <table>
                @foreach (var item in ViewBag.alllist)
                {
                    <tr>
                        <td>
                            <input type="checkbox" value="@item.Value" name="alllist" id="@item.Value" />
                        </td>
                        <td>@item.Value</td>
                    </tr>
                }
            </table>

            <div class="validation"></div>
        </div>



        <div style="display:flex;justify-content:center;align-items:center;margin: 20px 0;">
            <input type="submit" class="bouton-contact" id="btnsearch" style="width:200px; margin-right:10px;" value="Create">

            <input type="reset" class="bouton-contact" value="Cancel" style="width:200px; margin-left:10px;background:#e84118;" />
        </div>
        <div style="display:flex;justify-content:center;align-items:center;margin: 20px 0;">
            @if (TempData["msg"] != null)
            {
                <div style="background:#ff6a00;color:white;padding:5px 10px;margin-top:5px;display:inline;">
                    @TempData["msg"].ToString()
                </div>
            }
        </div>
    </div>
    </div>
}

